body {
  margin-top: 25px;
  margin-bottom: 50px;
  -webkit-print-color-adjust: exact;
}

.designation {
  color: #17365d;
  font-size: 14px;
  font-weight: bold;
}

.color1 {
  color: #dad7d7;
  font-size: 12pt;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: bold;
}

.right-border {
  border-right: 1px solid #ccc;
}
.left-border {
  border-left: 1px solid #e0e0e0;
}

.company {
  font-size: 12px;
  font-weight: bold;
  color: #ff6e01;
}

circle {
  stroke-width: 5px;
  stroke: green;
  background-color: blue;
}

.radial-progress-cover {
  stroke: #1abc9c;
  stroke-width: 5.01px;
  border: 12px solid red;
}

.radial-progress-text {
  font-size: 11px;
}

.label-name {
  color: #002878;
  font-size: 28px;
  letter-spacing: 8px;
  font-weight: bold;
}

.label-designation {
  color: #ff6e01;
  font-size: 16px;
  text-transform: uppercase;
}

.label-slogon {
  color: #17365d;
  font-size: 12px;
  font-style: italic;
  padding-top: 5px;
}

.borderless td,
.borderless th {
  border: none !important;
}

.row-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column-div {
  flex-direction: column;
  flex: 1;
}

.flex-div {
  display: flex;
}

.item-left {
  width: 24%;
  padding: 3px;
}

.item-right {
  width: 70%;
  padding: 3px 5px;
}

.tec-common {
  color: #fff;
  display: inline-block;
  background: #1abc9c;
}

div.tec {
  width: 45%;
}

div.tec > div {
  border: 1px solid #1abc9c;
  margin: 3px;
}

.label2 {
  color: #17365d;
  font-style: italic;
  font-weight: 500;
}

.headertbl {
  margin-top: 20px;
  width: 100%;
  border: 0px solid #000;
}

.headertbl td {
  border: 0px solid #000;
}

.headertbl2 {
  width: 100%;
}

.headertbl2 td:first-child {
  vertical-align: top;
  padding: 2px;
  width: 10%;
}

.headertbl2 td:last-child {
  vertical-align: top;
  padding: 2px;
  color: #17365d;
  font-style: italic;
  font-weight: 500;
  width: 50%;
}

.titleTbl {
  width: 100%;
}

.techTable {
  width: 100%;
}

.techTable td {
  vertical-align: top;
}

.logo {
  border-radius: 50%;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 8px;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  color: #17365d;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 5px;
  background: transparent;
  border: 1px solid #e2dfdf;
  font-style: italic;
}
div.techStack {
  font-size: 16px;
  font-weight: 600;
}
div.skillsused {
  font-size: 12px;
  font-weight: normal;
  padding-left: 24px;
}

.techStack span {
  border: 1px solid #f1eded;
  border-radius: 4px;
  padding: 3px 5px;
  display: inline-block;
  background: #b2becd;
  color: #000;
}
.techStack span.javascript {
  background: #f0db4f;
  color: #454e56;
}
.techStack span.react {
  background-color: #222;
  color: #00d8ff;
}
.techStack span.node {
  background: #90c53f;
  color: #46483d;
}
.techStack span.firebase {
  background: #051e34;
  color: #ffa60f;
}
.techStack span.html5 {
  background: rgb(221, 75, 38);
  color: #fff;
}
.techStack span.html5 {
  background: rgb(221, 75, 38);
  color: #fff;
}
.techStack span.css3,
.techStack span.docker {
  background: rgb(10, 115, 184);
  color: #fff;
}
.edu {
  color: #000;
  font-size: 16px;
  font-weight: normal;
  font-family: Tahoma;
  font-style: italic;
}
